<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
 <bean id="country" class="com.acad.spring3Assignment2.Country">
 <property name="countryName" value="India"></property>
 </bean>
 
 <bean id="capital" class="com.acad.spring3Assignment2.Capital">
 <property name="capitalName" value="Delhi"></property>
 </bean>
 
 </beans>